* {
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 16px;
}

/* tira sublinhado */
header nav ul li a {
  text-decoration: none;
  list-style-type: none;
}

/* Cabeçalho */
ul {
  display: flex;
  height: 100%;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
}

nav ul li {
  padding-left: 150px;
  list-style-type: none;
}

main section div {
  padding-left: 150px;
  list-style-type: none;
  width: 300px;
  border: 5px solid green;
  padding: 50px;
  margin: 20px;
  display: inline-block;
  transform: translate(50px, 100px);
  transition: width 2s;
}

body {
  background: rgba(0, 128, 0, 0.3) 
}

.footer{
  padding:initial;
  margin-top: 500px;
}

.footer-content{
  padding-left: 150px;
  list-style-type: none;
  width: 300px;
  border: 5px solid green;
  padding: 50px;
  margin: 20px;
  display: inline-block;
  transform: translate(50px, 100px);
  transition: width 2s;
}

.social-media {

}

.social-media-icons li a{
  list-style-type: none;
  text-decoration: none;
  list-style-type: none;
}
